{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %} 
<style>
    .example-wrapper { margin: 1em auto; max-width: 15  00px; width: 880px; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
    <h1>Inventaire nws</h1>
    <table class="table table-striped table-hover table-bordered border-info">
        <thead>
            <tr>
                <th >Email</th>
                <th >Matérial</th>
                <th >date de prêt</th>
                <th >date du rendu</th>       
                <th >Mail</th>            
            </tr>
        </thead>
        <tbody>
        {% for enfant in enfants %}
            <tr>
                <td>{{ enfant.email }}</td>
                <td>{{ enfant.product.name }}</td> 
                <td>{{ enfant.loandate  ? enfant.loandate|date('d-m-Y H:i:s') : ''}}</td>
                <td>{{ enfant.rendered ? enfant.rendered|date('d-m-Y H:i:s') : ''}}</td>
                <td>{{ include('home/sendMailer.html.twig') }}</td>                        
            </tr>      
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}