{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">

    <h1>Inventaire nws</h1>
    <table class="table table-striped table-hover table-bordered border-info">
        <thead>
            <tr>
                <th >Email</th>
                <th >Matérial</th>
                <th >date de prêt</th>
                <th >date du rendu</th>       
                <th >Mail</th>            
            </tr>
        </thead>
        <tbody>
        {% for enfant in enfants %}
            <tr>
                <td>{{ enfant.email }}</td>
                <td>{{ enfant.product.name }}</td> 
                <td>{{ enfant.loandate  ? enfant.loandate|date('d-m-Y H:i:s') : ''}}</td>
                <td>{{ enfant.rendered ? enfant.rendered|date('d-m-Y H:i:s') : ''}}</td>
                <td>{{ include('home/sendMailer.html.twig') }}</td>                        
            </tr>      
        {% endfor %}
        </tbody>
    </table>

{% endblock %}