{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 15  00px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Reservation</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Email</th>
                <th>Materiel</th>
                <th>date du rendu</th>
                <th>date de prêt</th>
                <th>Rendu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                {# <td>{{ reservation.id }}</td> #}
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{reservation.product }}</td>
                <td>{{ reservation.rendered ? reservation.rendered|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ reservation.loandate ? reservation.loandate|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ reservation.isrenderd ? 'Oui' : 'Non' }}</td>
                <td>
                    <a <button  class="btn btn-secondary" href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Afficher</a> </button>
                    <a <button  class="btn btn-primary" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Éditer</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a <button class="btn btn-primary" href="{{ path('app_reservation_new') }}">Faire une réservation</a> </button>
</div>
{% endblock %}
